html {
    display: block;
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

body {
    width: 100%;
    margin: 0;
}

nav {
    height: 100px;
    background-color: #fff;
}

nav div {
    display: inline-block;
    vertical-align: middle;
}

nav div h1 {
    font-family: 'Lobster Two', cursive;
    margin: 0;
    margin-left: 20px;
    font-size: 3em;
}

nav .header-phone {
    float: right; 
    font-family: 'Open Sans', sans-serif;
    vertical-align: middle;
    height: 100%;
}

nav .header-phone img {
    margin-right: 20px;
    margin-top: 30px;
    height: 40px;
    margin-bottom: auto;
    border-radius: 5px;
}

.logo img {
    margin-left: 20px;
    margin-top: 5px;
    height: 90px;
}

.main-content {
    width: 1280px;
    background: #fff;
    margin: auto;
    float: none;
    text-align: center;
}

.product-box {
    width: 42.5%;
    margin-left: 5%;
    display: inline-block;
}

.product-box img {
    width: 95%;
}

@media only screen and (max-width: 1280px) {
    
    .main-content {
        width: 100%;
        background: #fff;
    }
    
    .product-box {
        width: 95%;
        display: block;
    }
    
    
}

.main-content h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
}

.main-content h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
}

.cost-text {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    
    margin-top: 10px;
    margin-bottom: 10px;
}